     
[dir="ltr"] .main-content {
    margin-left: var(--sidebar-width);
}
[dir="rtl"] .main-content {
    margin-right: var(--sidebar-width);
}
[dir="ltr"] .main-content.student-layout {
    margin-left: var(--sidebar-width-collapsed);
    transition: margin-left var(--transition-speed) ease;
}
[dir="rtl"] .main-content.student-layout {
    margin-right: var(--sidebar-width-collapsed);
    transition: margin-right var(--transition-speed) ease;
}

[dir="ltr"] .main-content.sidebar-expanded {
    margin-left: var(--sidebar-width);
}

[dir="rtl"] .main-content.sidebar-expanded {
    margin-right: var(--sidebar-width);
}
